.header{
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header__sitename{
    font-size: 3rem;
    font-weight: bold;
    color: rgb(0, 97, 153);
    font-family: Arial, Helvetica, sans-serif;
}
